{% include "parts/header.html" %}
		<form method="GET" action="/cards/search">
		    <label>Card Name:</label>
		    <input type="text" name="name" size="40"><br>
		    <input type="submit" value="Search">
		</form>
{% include "parts/footer.html" %}