<html>
    <body>
		<form action="{{ action }}" method="POST" enctype="multipart/form-data">
	  		Set Name: <input type="text" name="name"><br>
	  		Three-Letter Abbreviation: <input type="text" name="trigram"><br>
	  		Upload File: <input type="file" name="file"><br>
	  		<input type="submit" name="submit" value="Submit">
		</form>
	
		{% for set in sets %}
			<p><b>Set: {{ set.name }}</b></p>
			<ul>
				{% for card in set.cards() %}
					<il> {{ card.number }} : {{ card.name }} : <img src="{{ card.get_image_url() }}"> </il><br>
			    {% endfor %}
			</ul>
		{% endfor %}

    </body>
</html>

